services:
  go-microservice:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: go-microservice
    ports:
      - '8080:8080'
    environment:
      - PORT=8080
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=admin
      - MINIO_SECRET_KEY=password
      - MINIO_BUCKET=users
      - MINIO_USE_SSL=false
    restart: unless-stopped
    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--quiet',
          '--tries=1',
          '--spider',
          'http://localhost:8080/health',
        ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    depends_on:
      - minio

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=password
    volumes:
      - minio-data:/data
    ports:
      - '9000:9000'
      - '9001:9001'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:9000/minio/health/ready']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  minio-data:
